<!--<ul>
    <li ng-repeat="team in teamData.teams"> {{team.name}}</li>
</ul>-->

{{teamData.teams}}


<!--{{teamData.teams[0].id}}-->
<br/>
<br/>
<br/>
<br/> {{attendeesData}}
<br/>
<br/>
<br/>
<br/>

<ul>
    <li ng-repeat="team in teamData.teams"> {{team.name}}</li>
</ul>

<br/>
<br/>
<br/>
<br/>

<!--loop over membersData.attendees-->
<!--<ul>
    <li ng-repeat="attendee in attendeesData.attendees track by $index">
        {{attendee.profile.name}} || {{attendee.answers[$index].question}} >>> {{attendee.answers[$index].answer}}

    </li>
</ul>-->



<ul>
    <li ng-repeat="attendee in attendeesData.attendees">
        {{attendee.profile.name}}
        <p ng-repeat="answer in attendee.answers"> {{answer.question}} {{answer.answer}}</p>

    </li>
</ul>